
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

:root{
    --cor-primaria:#0F74BC;
    --cor-secundaria:#0c609c;
    --cor-terciaria:#0a5388;


}
body{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}
