body{
    background-image: url("https://i.postimg.cc/6pcsXsyg/tratar.png%22");
    
}

#container{
    
    display:grid;
    gap:15px;
    grid-template-columns: auto auto ;
      

}
.logo{
    font-family: 'Bungee Spice', cursive;
    text-align: center;  
    
}
